div.book {
  margin-top: 45px;
  width: 160px;
  height: 230px;
  color: black;
  background-color: transparent;
}

div.book>div.book-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  will-change: transform;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
  /*box-shadow: 1px -1px #3e3e3e, 2px -2px #fffae5, 3px -3px #d1ccb8, 4px -4px #fffae5, 5px -5px #d1ccb8, 6px -6px #fffae5, 7px -7px #d1ccb8, 8px -8px #3e3e3e;*/
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

div.book-inner>div.side {
  transform-origin: center;
  position: absolute;
  left: -11px;
  width: 22px;
  height: 100%;
  transform: rotateY(-90deg);
  background-color: white;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/book.jpg");
}

div.book-inner>div.back {
  transform-origin: center;
  background-position: left;
  background-size: cover;
  transform: rotateY(180deg) translateZ(11px);
  background-image: url("../assets/images/book.jpg");
}

div.book-inner>div.front {
  transform-origin: center;
  transform: translateZ(11px);
  background-position: right;
  background-size: cover;
  background-image: url("../assets/images/book.jpg");
}

.book:hover {
  cursor: pointer;
}


.book:active .book-inner {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 768px) {
  .book:hover .book-inner {
    transform: rotateY(180deg);
  }
}
