.page {
  padding: 0.5rem;
  font-size: 8px;
}

.front-cover,
.back-cover {
  background-color: beige;
}

.page,
.inner {
  border: 12px gray solid;
}

.page:nth-child(even) {
  border-right: 1px gray solid;
}


.front-cover.inner {
  border-right: 1px gray solid;
}

.front-cover.outer,
.back-cover.outer {
  background-image: url("../assets/images/fig.svg");
  background-size: 5rem;
  background-repeat: space;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 28px 1px rgba(0, 0, 0, 0.7);
}
