@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Scheherazade+New:wght@400;500;600;700&display=swap');
@import "tailwindcss";



@theme {
  --font-logo: "Charm", cursive;
  --font-main: "Cormorant Garamond", serif;
  --font-ar: "Scheherazade New", serif;
}



.bg-hero {
  background-image: url(./assets/images/xv.png);
  background-color: #013f29;
}
